<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>
<body>
    <h1>The Users :</h1>
    <ul>
        {{#each users}}
            <li><a href="/lists/{{ id }}">{{ name }}</a></li>
        {{/each}}
    </ul>
</body>
</html>